.box{
    width: 200px;
    height: 200px;
    margin: 20px;

    /*background-color: red;*/
    background-color: rgb(255, 0, 0);

    /*background-color: green;*/
    background-color: rgb(0, 255, 0);
    
    /*background-color: blue;*/
    background-color: rgb(0, 0, 255);

    /* Mezclar colores */

    /* Amarillo */
    background-color: rgb(255, 255, 0);
        /* Cyan */
    background-color: rgb(0, 255, 255);
        /* Magenta */
    background-color: rgb(255, 0, 255);

    /* Grises */
    background-color: rgb(128, 128, 128);

    /* Negro */
    background-color: rgb(0, 0, 0);

    /* Blanco */
    background-color: rgb(255, 255, 255);

    /* Colores Hexadecimales */
    background-color: #ff0000; /* Red */
    background-color: #00ff00; /* Green */
    background-color: #0000ff; /* Blue */
    background-color: #ffff00; /* Yellow */
    background-color: #00ffff; /* Cyan */
    background-color: #ff00ff; /* Magenta */
    background-color: #808080; /* Gray */
    background-color: #aaaaaa; /* Light Gray */
    background-color: #cccccc; /* Lighter Gray */
    background-color: #000000; /* Black */
    background-color: #ffffff; /* White */

    /* Los colores hexadecimales funcionan de manera similar a los colores RGB. Es decir, cada par de dígitos representa el valor de rojo, verde y azul respectivamente. El primer par representa el valor de rojo, el segundo par representa el valor de verde y el tercer par representa el valor de azul. El # representa el inicio del código hexadecimal. */

    /* También se pueden utilizar solo 3 dígitos para representar colores hexadecimales. Por ejemplo, #f00 es equivalente a #ff0000 (rojo). */
    /* Rojo */
    background-color: #f00;
        /* Verde */
    background-color: #0f0;
        /* Azul */
    background-color: #00f;

    /*Por otra parte existen tambien los colores en formato HSL (Hue, Saturation, Lightness) */

    /* Rojo */
    background-color: hsl(0, 100%, 50%);
        /* Verde */
    background-color: hsl(120, 100%, 50%);
        /* Azul */
    background-color: hsl(240, 100%, 50%);

}